@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome Page";
    var housingModelList = ViewData["HousingDetails"] != null ? (List<Housing.HousingModel>)ViewData["HousingDetails"] : new List<Housing.HousingModel>();
    var groceryModelList = ViewData["groceryStoreDetails"] != null ? (List<GroceryStore.GroceryStoreModel>)ViewData["groceryStoreDetails"] : new List<GroceryStore.GroceryStoreModel>();
    var error = ViewData["ErrorDetails"] != null ? (List<string>)ViewData["ErrorDetails"] : new List<string>();

}

<script>
    $(function () {
        $("#CommunityName").autocomplete({
            source: "/AutoCompleteData",
            minLength: 3
        });
    });
</script>
<style>
    ul.ui-autocomplete {
        list-style: none;
        margin: 0;
        padding: 0;
        list-style-position: inside;
        width: 50px;
    }

    li.ui-menu-item {
        border: 1px solid black;
    }
</style>
<div class="text-center table-responsive">
    <h3 class="display-4">Neighborhood Grocery App</h3>
    <hr />
    <p class="align-content-center">
        Planning to buy a house in Chicago? Want to know the best neighborhood where grocery stores are available nearby for daily routine.
        We are here to help you out.
        Just search for a given community area and we will show you all the neighboring housing details and grocery stores.
    </p>
    <hr />
    <br />
    <br />

    <form method="get" class="text-center">
        <div>
            <label> Enter the Community Area to search:  </label>
            <input asp-for="CommunityName" type="text" placeholder="Enter Community Name" id="CommunityName" />
            <small id="note" class="form-text text-muted"> Example : Hyde Park, Humboldt Park, Uptown, Englewood, Near West Side </small>
        </div>
        <br />


        <div>
            <button type="submit" value="Submit" class="btn-primary"> Submit</button>
        </div>
    </form>
    <br />
    <br />
    @if (error.Count > 0)
    {
        <div class="bg-warning">
            <ul>
                @foreach (var e in error)
                {
                    <li>@e</li>
                }
            </ul>
        </div>}
    <table class="table table-bordered table-hover text-center">
        <thead class="badge-dark text-center text-light">
            <tr><th colspan="7"> Housing Details </th></tr>
            <tr><th colspan="2">Community Area Name</th><th>Community Area Number</th><th>Property Name</th><th>Address</th><th>Zip Code</th> <th>Management Company</th></tr>
        </thead>
        <tbody>
            @foreach (var data in housingModelList)
            {
                <tr>
                    <td colspan="2">@data.CommunityArea </td>
                    <td>@data.CommunityAreaNumber </td>
                    <td>@data.PropertName</td>
                    <td>@data.Address</td>
                    <td>@data.ZipCode</td>
                    <td>@data.ManagementCompany</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <hr />
    <br />
    <table class="table table-bordered table-hover">
        <thead class="bg-dark text-center text-light">
            <tr><th colspan="7">Grocery Stores</th></tr>
            <tr><th colspan="2">Community Area Name</th><th> Store Name</th><th>Address</th><th>Zip Code</th> <th>Community Area Number</th> <th>LicenseId</th></tr>
        </thead>
        <tbody>
            @foreach (var data in groceryModelList)
            {
                <tr>
                    <td colspan="2">@data.CommunityAreaName </td>
                    <td>@data.StoreName </td>
                    <td>@data.Address</td>
                    <td>@data.ZipCode</td>
                    <td>@data.CommunityArea</td>
                    <td>@data.LicenseId</td>
                </tr>
            }
        </tbody>
    </table>

</div >